<section class="section block-feedback">
    <div class="container">

    <div class="block-feedback__wrap">
        <div class="block-feedback__text-wrap">
            <div class="block-feedback__title">Прием заявок</div>
            <div class="block-feedback__descr">Заявки реализованных проектов на участие 23.09-18.10</div>
        </div>
        <a href="" class="btn btn-blue btn-big">Заявить проект</a>
    </div>
    </div>
</section>