<section class="section block-accordion" id="faq">
    <div class="container">
      <h2 class="section__title block-accordion__title">{{title}}</h2>
        <div class="block-accordion__wrap">
            {{#each list}}
                {{#> accordion/accord classNameAccord="block-accordion__accord" isOpen=isOpen}}
                    {{#> accordion/accord__head classNameAccordHead="block-accordion__trigger"}}
                        <p class="block-accordion__trigger__text">
                            {{label}}
                        </p>
                        <div class="block-accordion__trigger__cross accord__cross"></div>
                    {{/accordion/accord__head}}
                    {{#> accordion/accord__body }}
                        <div class="block-accordion__body">
                            <p class="block-accordion__descr">
                                {{{descr}}}
                            </p>
                        </div>
                    {{/accordion/accord__body}}
                {{/accordion/accord}}
            {{/each}}
        </div>
    </div>
</section>