<section class="block-fullscreen-banner">
    <div class="block-fullscreen-banner__wrap">
        <div class="block-fullscreen-banner__bg">
            {{{getPicture src=img s=s}}}
        </div>
        <div class="block-fullscreen-banner__content">
            <div class="block-fullscreen-banner__content__logo">
                {{{getImg src="logo-big.png"}}}
            </div>
            <div class="block-fullscreen-banner__content__text-block">
                <div class="block-fullscreen-banner__content__descr">
                    Выбираем самые знаковые проекты<br> ИТ-холдинга по итогам 2025 года
                </div>
            </div>
            <a href="https://team.t1.ru/contests/bids/create" class="block-fullscreen-banner__content__link btn js-link" target="_blank">Заявить проект</a>
        </div>
    </div>    
</section>