<section class="section block-experts" id="experts">
  <div class="container">
    <h2 class="block-experts__title">Наши эксперты</h2>
    <div class="block-experts__wrap">
      {{#with this.store.sliderPeople}}
        {{> sliders/slider-people}}
      {{/with}}
    </div>
  </div>
</section>