.footer {
  @include flex(column);
  @include bg-color(#151515);
  margin: 0 auto;
  padding: 80px 32px;

  &__top {    
    @include flex(row, space-between);

    &__logo {
      @include max-size(56px);
    }

    &__buttons {
      @include flex(row, $gap: 28px);

      a {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          border-color: #1DAFF7;
          @include transition(all);
        }
      }
    }    
  }
}