.header {
  @include position(sticky, $top: 0);
  @include transition(box-shadow);
  background-color: transparent;
  z-index: 10;
  
  &.scroll {
    background-color: #323232;
    backdrop-filter: blur(4px);
  }

  &__wrap {
    @include max-size(1440px);
    @include min-size(null, 70px);
    margin: 0 auto;
    padding: 16px 32px;
    @include flex(row, null, center, 38px);

    &__nav {
      @include flex(row, null, center);
      gap: 1.5rem;
      margin-left: auto;

      &__item {
        @include font-size(16px, 24px, 500);
        color: #fff;
        @include transition(color);

        padding: 4px 12px;
        
        @include hover() {
          color: #1DAFF7;
        }
      }
    }

    &__button {
    @include flex(row, center, center);
    @include size(100px, 46px);
    @include font-size(18px, 26px, 500);
    @include bg-color(transparent);
    padding: 10px 24px;    
    border: 1px solid #fff;
    border-radius: 100px;

    @include hover() {      
      @include color(#fff);
      @include bg-color(#1DAFF7);
      border-color: #1DAFF7;
      @include transition(all);
    }
    }
  }
}