.header {
  @include position(sticky, $top: 0);
  @include max-size(3000px);
  @include min-size(null, 70px);
  @include transition(box-shadow);
  background-color: transparent;
  margin: 0 auto;
  padding: 0 32px;
  z-index: 10;
  
  &.scroll {
    background-color: #323232;
    backdrop-filter: blur(4px);
  }

  &__wrap {
    padding: 16px 0;
    @include flex(row, null, center, 38px);

    &__nav {
      @include flex(row, null, center);
      gap: 1.5rem;
      margin-left: auto;

      &__item {
        @include font-size(0.8rem, 1.4, 500);
        color: #fff;
        @include transition(color);

        padding: 4px 12px;
        
        @include hover() {
          color: #AEB1B7;
        }

      }
    }
  }
}