.header {
  @include bg-color(#fff);

  @include position(sticky, $top: 0);
  @include max-size(3000px);
  @include min-size(null, 70px);
  @include transition(box-shadow);
  margin: 0 auto;
  padding: 0 32px;
  z-index: 10;
  
  &.scroll {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
  }

  &__wrap {
    padding: 16px 0;
    @include flex(row, null, center, 38px);

    &__nav {
      @include flex(row, null, center);

      margin-right: auto;

      &__item {
        @include font-size(0.8rem, 1.4, 500);
        @include color($blue);
        @include transition(color);

        padding: 4px 12px;
        
        @include hover() {
          @include color($blue-dark);
        }

      }
    }
  }
}