.block-slider-people {
  &__item {
    &__img {
      @include image-wrap(100%, 100%, contain);      
      width: 120px;
      height: 120px;
      margin-bottom: 12px;
      overflow: hidden;
    }

    &__title {
      @include font-size(28px, 32px, 500);
      letter-spacing: -0.02em;
      margin-bottom: 4px;
    }

    &__descr {
      @include font-size(14px, 18px, 400);
      letter-spacing: -0.01em;
      @include color($gray);
    }    
  }
}