
{{#> components/modal-wrap id='modal-info' classNameModal="modal-info" }}
  <div class="modal-info__wrap">
    <div class="modal-info__title js-modal-content-title"></div>
    <div class="modal-info__content">
      <div class="modal-info__content-item">
        <div class="modal-info__subtitle">Лидер проекта:</div>
        <div class="modal-info__person">
          <div class="modal-info__person">
            <div class="modal-info__img js-modal-content-image">
                <img src="https://team.t1.ru/api/file-service/user/3a0bae68-282a-568c-6b10-e9f52dae541f/avatar?size=thumb" alt="image">            </div>
            <div class="modal-info__info">
              <div class="modal-info__name js-modal-content-name"></div>
              <div class="modal-info__position js-modal-content-position"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-info__content-item">
        <div class="modal-info__subtitle js-modal-content-aim">Цель проекта:</div>
        <p class="modal-info__text js-modal-content-aim-text"></p>
      </div>
      <div class="modal-info__content-item">
            <div class="modal-info__subtitle js-modal-content-result">Результат проекта:</div>
            <p class="modal-info__text js-modal-content-result-text"></p>
            </div>
    </div>

<div class="modal-info__bot">

    <a href="" class="btn btn-white">Видеоматериалы</a>
    {{!-- <div class="btn btn-big js-vote-btn" data-target="">Отдать голос</div> --}}
</div>
  </div>
{{/components/modal-wrap}}
