.block-accordion {
  @include bg-color(#323232);
  @include color(#fff);
  padding: 80px 0px;
  margin-bottom: 0 !important;
  
  &__title {
    @include font-size(3.2rem, 64px, 500);
    letter-spacing: -0.04em;
    margin-bottom: 64px;
  }

  &__wrap {
    @include flex(column);
  }  

  &__accord {
    @include size(100%);
    border-top: 1px solid #F4F4F4;
  }

  &__trigger {
    @include font-size(1rem, 1.4, 500);
    letter-spacing: -0.02em;    
    padding: 16px 0px 46px;
    z-index: 2;
    width: 50vw;

    @include media-max-s() {
      padding: 12px;
      @include font-size(1rem, 1.4, 500);

      letter-spacing: -0.48px;
    }

    &__text {

    }

    &__cross {

    }

    &__body {
      padding: 0 16px 16px;
      
      @include media-max-s() {
        padding: 0 12px 12px;
      }
    }

    &__descr {
      @include font-size(1rem, 1.4, 500);

      @include size(67%);
      letter-spacing: -0.48px;
    }
  }

  &__body {    
    @include position(relative, $top: -75px, $left: 51vw);
    z-index: 1;
    width: 44vw;

    ul {
      padding-left: 20px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    li {
      @include font-size(16px, 1.4, 500);

      letter-spacing: -0.48px;
      margin-bottom: 20px;
      padding-left: unset;
      list-style-type: disc;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &::after {
        display: none !important;
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    a {
      color: #00aae6;
    }
  }

  &__descr {    
    @include font-size(1rem, 1.4, 400);
    letter-spacing: -0.02em;
  }
}
