.block-step-line {

  @include media-max-sm() {
    display: none;
  }
  &__wrap {
    padding: 145px 0

  }

  &__line {
    @include size(100%);
    @include flex(row);
    padding: 3px 4px;
    border-radius: 32px;
    background: linear-gradient(101.44deg, #0033A5 0%, #2D88EA 20.5%, #3EC9FB 43.86%, #C99BE7 67.53%, #6B74D0 95.35%);

    &__bullet-wrap {
      @include size(100%);
      @include max-size(100%);
      @include position(relative);
      @include flex();
      
      &__bullet{
        @include size(24px, 24px);
        @include bg-color(#9AE7FE);
        @include border(#FFFFFF33, 1.5px, solid);

        @include transition(background-color);
        outline: #FFFFFF33 solid 1.5px;
        
        border-radius: 50%;
        
        @include hover {
          @include bg-color(#E5F9FF);

          .block-step-line__line__bullet-wrap__info-wrap-hover {
            opacity: 1;
          }
          .block-step-line__line__bullet-wrap__info-wrap__title {
            @include color(#00AAE6)
          }
        }
      }

      &:nth-child(even) {
        .block-step-line__line__bullet-wrap__info-wrap {
          @include position(absolute, $left: 0, $bottom: calc(100% + 23px))
          
        }
        .block-step-line__line__bullet-wrap__info-wrap-hover {
                    @include position(absolute, $left: 0, $top: calc(100% + 23px))
        }
      }
      &:nth-child(odd) {
        .block-step-line__line__bullet-wrap__info-wrap {
          @include position(absolute, $left: 0, $top: calc(100% + 23px))
          
        }
        .block-step-line__line__bullet-wrap__info-wrap-hover {
          @include position(absolute, $left: 0, $bottom: calc(100% + 23px))
          
        }
      }

      &__info-wrap {
        &__title {
          @include font-size(1rem, 1.4, 500);
          @include transition(color);
          margin-bottom: 4px;
        }
        &__date {
          @include font-size(0.8rem, 1.4, 500);

        }
      }

      &__info-wrap-hover {
        pointer-events: none;
        @include max-size(calc(100% - 23px));
        @include bg-color($gray-light-2);
        @include font-size(0.7rem, 1.4, 500);

        @include transition(opacity);
        opacity: 0;

        border-radius: 8px;

        padding: 16px;

        &__date {
          @include color(#8496A8);
          margin-bottom: 8px;
        }
        &__title {
          @include color(#000);
          margin-bottom: 4px;
        }
        &__descr {
          @include color(#8496A8);
        }
      }
    }
  }
}