.block-nominations {
  background-color: #151515;
  padding: 80px 0;

  &__title {
    @include font-size(64px, 64px, 500);
    letter-spacing: -0.04em;
    margin-bottom: 64px;
    color: #fff;

    @media (max-width: 1280px) {
      @include font-size(48px, 48px, 500);
    }

    @media (max-width: 760px) {
      @include font-size(24px, 24px, 500);
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;

    @include media-max-md() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-max-s() {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    &__img img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }

    &__title {
      @include font-size(24px, 28px, 500);
      letter-spacing: -0.02em;
      @include color(#fff);
      padding: 24px 0 8px;
    }
    &__descr {
      @include font-size(20px, 24px, 500);
      letter-spacing: -0.02em;
      @include color(#82858E);
      padding-bottom: 24px;
    }

    &__button {
      @include font-size(18px, 26px, 500);
      background-color: #1DAFF7;
      color: #fff;
      padding: 14px 20px;
      border-radius: 100px;
      position: relative;
      max-width: 180px;
      cursor: pointer;

      span {
        padding-left: 5px;
      }
    }
  }
}