<header class="header js-header-scroll">
  <div class="header__wrap">
    <div class="header__wrap__logo">
      {{{getSvg src="logo-white"}}}
    </div>

    {{#if noNav }}
    {{else}}
    <nav class="header__wrap__nav">
      <a href="/#about" class="header__wrap__nav__item">О премии</a>
      <a href="/#nominations" class="header__wrap__nav__item">Номинации и критерии</a>
      <a href="/#experts" class="header__wrap__nav__item">Наши эксперты</a>
      <a href="/#stages" class="header__wrap__nav__item">Этапы премии</a>
      <a href="/#faq" class="header__wrap__nav__item">Вопросы и ответы</a>
    </nav>
    <div class="header__wrap__buttons">
      <div class="header__wrap__button btn btn-outline">Войти</div>
    </div>
    {{/if}}
  </div>
</header>