<header class="header js-header-scroll">
  <div class="header__wrap">
    <a href="/" class="header__wrap__logo">
      {{{getSvg src="logo"}}}
    </a>

    {{#if noNav }}
    {{else}}
    <nav class="header__wrap__nav">
      <a href="/#about" class="header__wrap__nav__item">О премии</a>
      <a href="/#nominations" class="header__wrap__nav__item">Номинации и проекты</a>
      <a href="/#experts" class="header__wrap__nav__item">Эксперты</a>
      <a href="/#faq" class="header__wrap__nav__item">Вопросы и ответы</a>
    </nav>
    <div class="header__wrap__buttons">
      <div class="header__wrap__button btn btn-small">Голосовать за проекты</div>
    </div>
    {{/if}}
  </div>
</header>