<a href="" class="block-banner__wrap block-banner__video">
  <video src="assets/video/video-banner-desk.mp4" class="video desk" autoplay muted loop></video>
  <video src="assets/video/video-banner-mob.mp4" class="video mob" autoplay muted loop></video>
</a>